fastapi
uvicorn
selenium
pdfplumber
pymongo
pandas
openpyxl
python-dotenv
webdriver-manager
websockets
python-multipart
mysql-connector-python
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
passlib[bcrypt]
python-jose[cryptography]
httpx
